* {
  font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
}

input.ng-dirty, select.ng-dirty {
  &.ng-valid {
    border: 2px solid green;
  }

  &.ng-invalid {
    border: 2px solid red;
  }
}
