TransportAgencyWebAPI/Properties/PublishProfiles/CustomProfile.pubxml
TransportAgencyWebAPI/Properties/PublishProfiles/CustomProfile.pubxml.user
TransportAgencyWebAPI/TransportAgencyWebAPI.csproj.user
