<div class="row mt-15">
  <div class="col-12">
    <form [formGroup]="form" novalidate (ngSubmit)="submitForm()">
      <div *ngIf="submitted && form.invalid" class="row">
        <div class="col-12 text-white bg-danger p-2 error-text">
          <ul class="list-unstyled">
            <li *ngFor="let error of form.getFormErrors()">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-md-between justify-content-center">
        <div class="row col-md-6 col-12 text-center">
          <div *ngFor="let ctrl of form.tripDepartureControls" class="col-md-6 col-12 form-group">
            <label class="font-size-70">{{ctrl.label}}</label>
            <input *ngIf="ctrl.name==='departurePlace'" type="text" class="form-control form-control-md"
                   [formControlName]="ctrl.name">

            <input *ngIf="ctrl.name==='departureDate'" type="date" class="form-control form-control-md"
                   [formControlName]="ctrl.name">

            <ul class="text-danger list-unstyled font-size-70"
                *ngIf="(submitted || form.controls[ctrl.name].dirty) && form.controls[ctrl.name].invalid">
              <li *ngFor="let error of form.controls[ctrl.name].getErrors()">
                {{error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row col-md-6 col-12 text-center">
          <div *ngFor="let ctrl of form.tripArrivalControls" class="col-md-6 col-12 form-group">
            <label class="font-size-70">{{ctrl.label}}</label>
            <input *ngIf="ctrl.name==='arrivalPlace'" type="text" class="form-control form-control-md"
                   [formControlName]="ctrl.name">

            <input *ngIf="ctrl.name==='arrivalDate'" type="date" class="form-control form-control-md"
                   [formControlName]="ctrl.name">

            <ul class="text-danger list-unstyled font-size-70"
                *ngIf="(submitted || form.controls[ctrl.name].dirty) && form.controls[ctrl.name].invalid">
              <li *ngFor="let error of form.controls[ctrl.name].getErrors()">
                {{error}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-3 text-center form-group">
          <label class="font-size-70">Вид транспорта</label>
          <select class="form-control form-control-md" formControlName="kindTransport">
            <option value="none">Пусто</option>
            <option [value]="i.name" *ngFor="let i of transportTypes">
              {{i.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row justify-content-end mt-2">
        <div class="col-4 text-right">
          <button type="submit" [class.disabled]="submitted && form.invalid" class="btn btn-info">Найти</button>
        </div>
      </div>
    </form>
  </div>
</div>
