<div class="row mt-15">
  <div class="col-12">
    <form [formGroup]="form" novalidate>
      <div class="row justify-content-md-between justify-content-center">
        <div class="row col-md-6 col-12 text-center">
          <div class="col-md-6 col-12 form-group">
            <label class="font-size-70">Место прибытия</label>
            <input type="text" class="form-control form-control-md" formControlName="arrivalPlace">
          </div>
          <div class="col-md-6 col-12 form-group">
            <label class="font-size-70">Дата прибытия</label>
            <input type="date" class="form-control form-control-sm" formControlName="arrivalDate">
          </div>
        </div>
        <div class="row col-md-6 col-12 text-center">
          <div class="col-md-6 col-12 form-group">
            <label class="font-size-70">Место отправления</label>
            <input type="text" class="form-control form-control-md" formControlName="departurePlace">
          </div>
          <div class="col-md-6 col-12 form-group">
            <label class="font-size-70">Дата отправления</label>
            <input type="date" class="form-control form-control-sm" formControlName="departureDate">
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-3 text-center">
          <label class="font-size-70">Вид транспорта</label>
          <select class="form-control form-control-md" formControlName="kindTransport">
            <option selected>Выберите транспорт...</option>
            <option *ngFor="let i of tt">
              {{i.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row justify-content-end mt-2">
        <div class="col-4 text-right">
          <button type="submit" class="btn btn-info">Найти</button>
        </div>
      </div>
    </form>
  </div>
</div>
