<div class="row mt-5 justify-content-center">
  <div class="col-12 col-md-8">
    <form [formGroup]="form" novalidate (ngSubmit)="submitForm()">
      <app-form-error [form]="form" [submitted]="submitted"></app-form-error>
      <div class="row justify-content-md-between justify-content-center text-center">
        <div *ngFor="let ctrl of form.AllControls" class="col-12 form-group">
          <label class="font-size-70">{{ctrl.label}}</label>
          <input *ngIf="ctrl.name !== 'country'" class="form-control form-control-md" [formControlName]="ctrl.name">
          <select *ngIf="ctrl.name === 'country'" class="form-control form-control-md" [formControlName]="ctrl.name">
            <option value="none">Пусто</option>
            <option [value]="i.name" *ngFor="let i of countries">
              {{i.name}}
            </option>
          </select>
          <app-control-error [control]="ctrl" [submitted]="submitted"></app-control-error>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-md-8 mb-5">
    <div class="row justify-content-between">
      <div class="col-6 text-left">
        <button class="btn btn-danger" (click)="location.back()">Назад</button>
      </div>
      <div class="col-6 text-right">
        <button [disabled]="submitted && form.invalid" class="btn"
                [class.btn-primary]="mode === 'create'" [class.btn-warning]="mode === 'edit'"
                (click)="submitForm()">{{mode === 'create' ? 'Добавить' : 'Изменить'}}</button>
      </div>
    </div>
  </div>
</div>
